.text-center{
   margin-top: 10%;
}
textarea{
  border: 2px solid black;
   box-shadow: 5px 5px rgb(99, 93, 93);
   font-size: 1.4rem;
}
@media(max-width:768px){
  textarea{
    font-size: 1rem;
    width: 40%;
  }
  h1{
    font-size: 1rem;
    margin-top:15%;
  }
}
.App{
  font-family: Roboto;
  text-align: center;
  background-color: rgb(233, 206, 210);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  height: 100%;
  position: absolute;
  width: 100%;
}